/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common*/
body{
    color: white;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
    display: flex;
}
/* header */
header{
    height: 78px;
    padding-top: 5px;
}
header ul{
    gap: 3px;
    justify-content: flex-end;
    align-items: center;

}
header li{
    padding: 5px;
    background-color: #4A4A4A;
    border-radius: 5px;

}
/* main */
main{
    height: calc(100vh - 159px);
    overflow: auto;
}
main .container{
    max-width: 1744px;
    margin: 0 auto;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    gap: 6px;
    flex-wrap: wrap;
}
main .container .card{
    width: 244px;
    position: relative;
    margin-top: 10px;
}
main .container .card img{
    width: 100%;
    height: 140px;
    display: block;
}
main .container .card div{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 6px 5px;
    background-color: rgba(0, 0, 0, 0.4);
}
/* footer */
footer{
    background-color: #222222;
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .container .element.end{
    padding: 31px 20px;
    color: red;
    background-color: #4A4A4A;
}
footer .container .element{
    display: flex;
}
footer .container .element:first-child{
    padding-left: 10px;
}
footer .container .element  ul{
    align-items: center;
    text-align: center;
    gap: 20px;
}
footer .container .element li i{
    display: block;
    font-size: 30px;
    padding: 6px 0;
}
footer .container .element li i.special{
    color: #4BC800;
}
footer .container .element li i:last-child{
    font-size: 12px;
}
footer .container .element li span{
    font-size: 14px;
}